<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawrent Chronicles | <%= user.username %>'s Profile></title>
</head>
<body>
    <%- include('partials/_navbar.ejs') %>
    <h1>Username: <em><%= user.username %></em></h1>
    <p><strong>Member Since:</strong> <%= new Date(user.createdAt) %></p>
    <a href="/users/<%= user._id %>/posts">View My Pet Chronicles</a>
    <p><a href="/users/<%== user._id %>/edit"></a>Edit My Profile</p>
    <p>Chronicles Shared:<%= user.posts.length %></p>
</body>
</html>