<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= post.title %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= post.title %></h1>
	<% if (post.photo) { %>
    <div class="post-image-container">
        <img src="<%= post.photo %>" alt="<%= post.title %>">
    </div>
<% } %>
	<div class="author-info">
    <% if (blogOwner.photo) { %>
        <img src="<%= blogOwner.photo %>" alt="<%= blogOwner.username %>">
    <% } else { %>
		<div class="profile-placeholder">👤</div>
    <% } %>
    <p>By <a href="/users/<%= blogOwner._id %>"><strong><%= blogOwner.username %></strong></a> on <%= post.createdAt.toLocaleDateString() %></p>
</div>
    <p>Content:<%= post.content %></p>
    <% if(locals.user && blogOwner._id.equals(locals.user._id)) {%>
        <hr>
        <div class="button-group">
        <a href="/users/<%= blogOwner._id %>/posts/<%= post._id %>/edit">Edit Post</a>
        <form action="/users/<%= blogOwner._id %>/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Post</button>
        </form>
        </div>
    <% } %>
    <h2>Comments</h2>
    <% if(post.comments.length > 0) { %>
        <ul>
            <% post.comments.forEach((comment) => { %>
                <li>
                    <%= comment.username %> <%= comment.text %>
                        <% if (locals.user && (blogOwner._id.equals(locals.user._id) || comment.username === locals.user.username)) { %>
                            <form action="/users/<%= blogOwner._id %>/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete Comment</button>
                            </form>
                        <% } %>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p class="no-comments">No comments yet! Be the first!</p>
    <% } %>

	<% if (locals.user) { %>
	<div class="comment-section">
	<h3>Add a comment:</h3>
	<form action="/users/<%= blogOwner._id %>/posts/<%= post._id %>/comments" method="POST">
    	<textarea name="text" placeholder="Write Your Comment Here" required></textarea>
    	<button type="submit">Submit Comment</button>
	</form>
	</div>
	<% } else { %>
    	<p>
        	<a href="/auth/sign-in">Sign In</a> or
        	<a href="/auth/sign-up">Sign Up</a> to leave a comment
    	</p>
	<% } %>
    <div class="back-link-container">
    	<a href ="/users/<%= blogOwner._id %>/posts">Back to <%= blogOwner.username %>'s Blog</a>
    </div>
</body>
</html>